.container {
  padding: 13px 27px 32px;
}

.breadcrumb {
  font-size: 16px;
}

.detailsContainer {
  max-width: 1248px;
  margin: auto;
}

.detailsDescription {
  font-size: 16px;
  padding-top: 12px;
}

.card {
  border-radius: 4px;
  border: 1px solid #d5dde6;
  margin-top: 32px;
}

.cardHeader {
  padding: 7px 0;
  font-size: 17px;
  background-color: #cbd5e0;
}

.cardBody {
  padding: 40px 22px 28px;
  font-size: 16px;
}

.formGrid {
  font-size: 16px;
  padding: 12px 6px 0;
}

.socialDescription {
  padding: 31px 0 0;
}

.socialContainer {
  padding: 31px 38px 0;
}